.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');


body {
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    margin-top:50px;
    margin-right: 80px;
    margin-left:80px ;
    line-height: 1.8;
}

.head-part {
    width: 100%;
    height: 170px;
    background-image: url(../images/bg-header-desktop.png);
    background-size: cover;
}

.head-part span {
    width: 200px;

}

.head-part i {
    color: hsl(171, 66%, 44%);
    font-size: 50px;
    position: relative;
    top: 55%;
}
.computer-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;

}
.description {
    display: flex;
    flex-direction: column;
    flex-basis: 345px;
    text-align: initial;
}

.sub-description {
    margin-bottom:30px ;
}

.feature {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    gap: 3%;
    align-items: center;
    justify-content: center;
}
.feature .element {
    flex-basis: 22% ;
}

.image-company {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}
.image-company img {
    flex-basis: 150px;
}
.url {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 120px;
}
.url p {
    flex-basis:115px ;
    margin-right: 50px;
    text-align: initial;
}
.end {
    display: grid;
    grid-template-columns: 15%  40% 45%;
    background-color: hsl(0, 0%, 91%);
}

.social-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
}
.button-tag  {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.first-intro-text{
    margin-bottom: 40px;
    margin-right: calc(65%/2);
    width: 35%;
    margin-left: calc(65%/2);
}
.second-intro-text{
    margin-bottom: 60px;
    margin-right: calc(65%/2);
    width: 35%;
    margin-left: calc(65%/2);
}
.third-intro-text{
    margin-bottom: 60px;
    margin-right: calc(65%/2);
    width: 35%;
    margin-left: calc(65%/2);
}
.fourth-intro-text{
    margin-bottom: 40px;
    margin-right: calc(65%/2);
    width: 35%;
    margin-left: calc(65%/2);
}
.fifth-intro-text{
    margin-bottom: 40px;
    margin-right: calc(65%/2);
    width: 35%;
    margin-left: calc(65%/2);
}

.button-tag .first-button {
    background-color:hsl(171, 66%, 44%) ;
    border-radius: 25px;
    color:white;
    width: 12%;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    border: none;
}
.button-tag .second-button {
    background-color:hsl(233, 100%, 69%);
    border-radius: 25px;
    color:white;
    width: 12%;
    height: 40px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

p , .readme ,.details{
    color: hsl(201, 11%, 66%);
}
.copy i{
    font-size: 20px;
    position: relative;
    left: 60px;
    top: 35px;
    color:hsl(171, 66%, 44%) ;
}


@media (max-width:375px){
    body {
        text-align: center;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 18px;
        margin-top:0px;
        margin-right: 0px;
        margin-left:0px ;
    }
    .head-part {
        width: 320px;
        position: relative;
        left: calc(55px/2);
    }
    .head-part i {
        color: hsl(171, 66%, 44%);
        font-size: 38px;
        position: relative;
        top: 55%;
    }
    .computer-tag {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
    
    }
    .computer-tag img {
        width:  325px;
    }
    .description {
        display: flex;
        flex-direction: column;
        text-align: initial;
        align-items: center;
        justify-content: center;
    }
    .feature {
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
        gap: 3%;
        align-items: center;
        justify-content: center;
    }
    .feature .element {
        flex-basis: 22% ;
    }
    
    .image-company {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-bottom: 100px;
    }
    .image-company img {
        flex-basis: 50px;
    }
    .url {
        margin-left: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 700px;
    }
    .url p {
        flex-basis:115px ;
        margin-right: 50px;
        text-align: initial;
    }
    .end {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 800px 700px 200px;
        background-color: hsl(0, 0%, 91%);
    }
    
    .social-icon {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-left: 180px;
    }
    .button-tag  {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: calc(75px/2);
    }
    
.first-intro-text{
    margin-bottom: 40px;
    margin-right: calc(75px/2);
    width: 335px;
    margin-left: calc(75px/2);
}
.first-intro-text .heading-title{
    margin-bottom: 40px;
    margin-right: calc(75px/2);
    width: 275px;
    margin-left: calc(75px/2);
}

.second-intro-text{
    margin-bottom: 40px;
    margin-right: calc(70px/2);
    width: 325px;
    margin-left: calc(70px/2);
}
.third-intro-text{
    margin-bottom: 40px;
    margin-right: calc(75px/2);
    width: 320px;
    margin-left: calc(75px/2);
}
.fourth-intro-text{
    margin-bottom: 40px;
    margin-right: calc(75px/2);
    width: 320px;
    margin-left: calc(75px/2);
}
.fifth-intro-text{
    margin-bottom: 40px;
    margin-right: calc(75px/2);
    width: 320px;
    margin-left: calc(75px/2);
}

.button-tag .first-button {
    background-color:hsl(171, 66%, 44%) ;
    border-radius: 25px;
    color:white;
    width: 300px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    border: none;
}
.button-tag .second-button {
    background-color:hsl(233, 100%, 69%);
    border-radius: 25px;
    color:white;
    width: 300px;
    height: 40px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
.second-image img{
    width: 300px;
}

}